{% extends "base.html" %}
{% block content %}

<h2>Matches</h2>

<nav>
    <form action="/matches/new">
        <input type="submit" value="Create Match">
    </form>
</nav>

{% for match in matches %}

<section>
    <h3>{{ match.home_team.name }}&nbsp;&nbsp;&nbsp;&nbsp;<em>{{ match.home_score }}</em></h3>vs.
    <h3>{{ match.away_team.name }}&nbsp;&nbsp;&nbsp;&nbsp;<em>{{match.away_score}}</em></h3>
    <h4>at {{ match.home_stadium.stadium }}</h4>

    <form action="/matches/{{ match.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
<br><hr>
</section>

{% endfor %}
{% endblock %}